{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row">
{% for destination in destinations %}

	<div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
		<div class="card m-auto">
	  		<img class="card-img-top" src="{{destination.pretty_picture.url}}" alt="Card image cap"/>
	  			<div class="card-body bg-light">
				    <h5 class="card-title bold underline">{{destination.name}}</h5>
				    <p class="card-text center bold">{{destination.activities}}</p>
				    <a href="{% url 'destination-detail' destination.id %}" class="btn btn-primary">More details</a>
  				</div>
  		</div>
	</div>

{% endfor %}
</div>
{% endblock content %}

